<%= turbo_frame_tag @shelf do %>
  <div class="mt-4">
    <%= render "shelves/form", shelf: @shelf, storage: @storage %>

    <%= button_to storage_shelf_path(@storage, @shelf), method: :delete, data: { turbo_method: :delete, turbo_confirm: '本当に削除しますか？', turbo_frame: "_top" }, class: "btn btn-danger" do %>
      Delete
    <% end %>
    <%= link_to "キャンセル", storages_path, class: "btn btn-secondary", data: { turbo_frame: "_top" } %>
  </div> 
<% end %>
