<%= form_with(model: @storage, url: storages_path, data: { turbo_frame: "storage_edit_modal" }) do |form| %>
  <div class="field">
    <%= form.label :storage %>
    <%= form.text_field :storage %>
  </div>
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
