<%= form_with(model: @storage, url: params[:id] ? storage_path(@storage) : storages_path) do |form| %>
  <div class="field">
    <%= form.label :storage %>
    <%= form.text_field :storage %>
  </div>
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
