<h1>Storages</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Storage</th>
      <th>Shelves</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @storages.each do |storage| %>
      <tr>
        <td>
          <%= storage.storage %>
          <%= link_to 'Edit', edit_storage_path(storage), class: 'btn btn-warning', data: { turbo_frame: "storage_edit_modal" } %>
        </td>
        <td>
          <ul>
            <% storage.shelves.each do |shelf| %>
              <li><%= shelf.shelf %></li>
            <% end %>
          </ul>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= render "storages/form" %>
