<h1>Storages</h1>
<turbo-frame id="storage_new_modal">
  <%# モーダルの中身はここに表示される %>
</turbo-frame>

<turbo-frame id="storage_edit_modal">
  <%# モーダルの中身はここに表示される %>
</turbo-frame>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Storage</th>
      <th>Shelves</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @storages.each do |storage| %>
      <tr>
        <td>
          <%= storage.storage %>
          <%= link_to 'Edit', edit_storage_path(storage), class: 'btn btn-warning', data: { turbo_frame: "storage_edit_modal" } %>
        </td>
        <td>
          <ul>
            <% storage.shelves.each do |shelf| %>
              <li><%= shelf.shelf %></li>
            <% end %>
          </ul>
        </td>

      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'New Storage', new_storage_path, class: 'btn btn-success', data: { turbo_frame: "storage_new_modal" } %>


